<th:block>
<!-- Footer -->
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">𝑺𝒊𝒔𝒕𝒆𝒓𝒔 𝑨𝒓𝒕</h6>
                <p>Всичко което правим, го правим с много любов и старание!</p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-1 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold"></h6>
                <p>
                    <a></a>
                </p>
                <p>
                    <a></a>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Полезни линкове</h6>
                <p>
                    <a class="text-dark" href="https://www.facebook.com/SistersArtOOD/" target="_blank">Facebook страница на Sisters Art</a>
                </p>
                <p>
                    <a class="text-dark" href="https://www.facebook.com/groups/610448616214671/" target="_blank">Facebook страница на Essential oil</a>
                </p>
                <p>
                    <a class="text-dark" href="https://www.doterra.com/" target="_blank">DoTerra official site</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Контакти</h6>
                <p>
                    <i class="fas fa-home mr-3"></i> София, България</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i>0888 808 808</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->
    </div>
    <!-- Footer Links -->
<!-- Footer -->
</th:block>