.contact-page {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    /* max-width: 1270px; */
    /* height: 600px; */
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/src/images/oil.jpg) no-repeat;
    object-fit: cover;
    position: relative;
}

.map-wrapper, .contact-wrapper {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    color: white;
    width: 1100px;
    margin: 20px;
}

.map-text, .contact-text{
    width: 40%;

}

.contact-logo img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 20px;
}