<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body th:background="${url}">
<header>
    <div class="container">
        <!-- Navigation -->
        <th:block th:include="~{/fragments/navbar}"></th:block>
    </div>
</header>
<!-- Page Content -->
<main>
    <form class="text-center border border-light w-75 mx-auto p-3">
        <p class="h4 mb-4">Всички продукти</p>
        <hr class="hr-2 bg-dark w-75">
    </form>
    <div class="d-flex justify-content-center align-items-center container">
        <table class="table table-hover mx-auto text-md-center justify-content-center">
            <thead class="table-form">
            <tr class="row mx-auto">
                <th class="col-md-1 text-center">#</th>
                <th class="col-md-2 text-center">Име</th>
                <th class="col-md-2 text-center">Снимка</th>
                <th class="col-md-2 text-center">Цена</th>
                <th class="col-md-2 text-center">Количество</th>
                <th class="col-md-3 text-center">Действие</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="product, iter : ${products}">
                <tr class="row mx-auto">
                    <th class="col-md-1 text-center" th:text="${iter.index + 1}"></th>
                    <td class="col-md-2 text-center">
                        <a th:text="${product.name}" th:href="@{/products/details/{id}(id=${product.id})}">Details</a>
                    </td>
                    <td class="col-md-2 text-center"><img th:src="${product.imageUrl}" width="50" height="50" alt="Product"></td>
                    <td class="col-md-2 text-center" th:text="${product.price}"></td>
                    <td class="col-md-2 text-center" th:text="${product.quantity}"></td>
                    <td class="col-md-3 text-center d-flex justify-content-center">
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="btn btn-success"
                               th:href="@{/products/edit/{id}(id=${product.id})}" method="patch">
                                <i class="fas fa-edit mx-1"></i></a>
                            <button type="button"
                                    class="open-delete-dialog btn btn-dark"
                                    data-toggle="modal"
                                    data-target="#deleteModal"
                                    th:data-id="*{product.id}">
                                <i class="fas fa-trash mx-1"></i>
                            </button>
                        </th:block>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>
<!-- Footer -->
<footer id="border" class="page-footer font-small mdb-color pt-4">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
<script>
    $(document).on("click", ".open-delete-dialog", function () {
        $("#deleteId").val($(this).data('id'));
    });
</script>
<!-- EO: Behaviour-->
<div th:replace="products/delete :: delete-product">
    Modal dialog for delete
</div>
</body>

</html>