<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>
<header>
    <th:block th:include="~{/fragments/title}"></th:block>
</header>

<main>
    <div class="d-flex justify-content-center align-items-center container">

        <div class="row">
            <!-- Default form register -->
            <form class="text-center border border-light p-5"
                  th:action="@{/users/register}" th:method="post" th:object="${model}">

                <p class="h4 mb-4">Регистрация</p>

                <!-- Username -->
                <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? 'text-danger'">
                    <input type="text" class="form-control mb-4" id="username" name="username" placeholder="Username"
                           th:field="*{username}">
                    <th:block th:if="${#fields.hasErrors('username')}">
                        <small class="text-danger" th:errors="*{username}"></small>
                    </th:block>
                </div>

                <!-- E-mail -->
                <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'text-danger'">
                    <input type="email" class="form-control mb-4" id="email" name="email" placeholder="E-mail"
                           th:field="*{email}">
                    <th:block th:if="${#fields.hasErrors('email')}">
                        <small class="text-danger" th:errors="*{email}"></small>
                    </th:block>
                </div>

                <!-- Password -->
                <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'text-danger'">
                    <input type="password" class="form-control mb-4" id="password" name="password" placeholder="Password"
                           th:field="*{password}">
                    <th:block th:if="${#fields.hasErrors('password')}">
                        <small class="text-danger" th:errors="*{password}"></small>
                    </th:block>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'text-danger'">
                    <input type="password" class="form-control mb-4" id="confirmPassword" placeholder="Confirm Password"
                           name="confirmPassword" th:field="*{confirmPassword}">
                    <th:block th:if="${#fields.hasErrors('confirmPassword')}">
                        <small class="text-danger" th:errors="*{confirmPassword}"></small>
                    </th:block>
                </div>

                <!-- Sign up button -->
                <button class="btn btn-info my-4 btn-block" type="submit">Влез</button>

                <!-- Social register -->
                <p>or sign up with:</p>

                <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

                <hr>

                <!-- Terms of service -->
                <p>By clicking
                    <em>Sign up</em> you agree to our
                    <a href="" target="_blank">terms of service</a>

            </form>
            <!-- Default form register -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</main>
<!-- Default form login -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>


</body>

</html>