<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body th:background="${url}">
<header>
    <div class="container">
        <th:block th:include="~{fragments/navbar}"/>
    </div>
</header>
<main>
    <div class="container mt-5 text-center">
    <p class="home-paragraph">
        Total requests so far <span th:text="${requestCount}">4</span>.
    </p>

    <p class="home-paragraph">
        Total requests started on <span th:text="${{startedOn}}">2001-02-02</span>.
    </p>

    <p class="home-paragraph">
        Have fun!
    </p>
    </div>
</main>
<footer id="border" class="page-footer font-small mdb-color pt-4">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>